<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.username">java</property>
    <property name="connection.password">java</property>
    <property name="connection.url">jdbc:mysql://srv.azib.net/java</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <mapping resource="net/azib/java/lessons/db/Person.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
