<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://srv.azib.net/decathlon</property>
        <property name="connection.username">java</property>
        <property name="connection.password">java</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property> 

         <!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<!--<property name="show_sql">true</property>-->

		<property name="hibernate.current_session_context_class">thread</property>

		<mapping resource="\net\azib\java\students\t060401\homework\decathlon\Athlete.hbm.xml"/>
        <mapping resource="\net\azib\java\students\t060401\homework\decathlon\Competition.hbm.xml"/>
        <mapping resource="\net\azib\java\students\t060401\homework\decathlon\DecathlonResults.hbm.xml"/>

    </session-factory>

</hibernate-configuration>