<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>

	<session-factory>
	
		<!-- Database connection settings -->
	    <property name="connection.driver_class">com.mysql.jbdc.Driver</property>
        <property name="connection.url">jdbc:mysql//srv.azib.net</property>
        <property name="connection.username">java</property>
        <property name="connection.password">java</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
        <!-- Mapping resources below -->
        <mapping resource="mapping/Athlet.hbm.xml"/>
        <mapping resource="mapping/Competition.hbm.xml"/>
        
	</session-factory>
	
</hibernate-configuration>